{% extends "dashboard-admin/base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

	{{ include('dashboard-admin/flash_messages.html.twig') }}

	<div class="titre d-flex">
		<div class="col-4 d-flex justify-content-start align-items-center pl-0">
			<p class="p-3 m-0 font-weight-bold">Gestion des livres</p>
		</div>
		<div class="col-4 d-flex justify-content-center align-items-center">
			<input id="search-input" type="text" placeholder="Rechercher un titre" class="form-control" aria-label="Rechercher un titre" autofocus>
		</div>
		<div class="col-4 d-flex justify-content-end align-items-center pr-0">
			<a href="{{ path('admin_add_book') }}" type="button" class="btn btn-success m-0 p-3 font-weight-bold" title="Ajouter">
				<i class="px-2 fas fa-plus"></i>
				Ajouter un livre
			</a>
		</div>
	</div>


	<table class="listBook">
		<thead class="nom-colonne">
			<tr class="d-flex py-3">
				<th class="col-2">En stock</th>
				<th class="col-3">Titre</th>
				<th class="col-3">Code ISBN</th>
				<th class="col-2">Prix</th>
				<th class="col-2  text-center">Options</th>
			</tr>
		</thead>

		<tbody class="livres">
			{% for book in books %}

				<tr class="livre py-2">
					<td class="col-2">{{ book.stock }}</td>
					<td class="col-3">{{ book.id }}	- {{ book.title }}</td>
					<td class="col-3">{{ book.isbn }}</td>
					<td class="col-2">{{ book.price }} €</td>

					{# action buttons #}
					<td class="options col-2 d-flex align-items-center justify-content-around">

						{# bouton modifier les détails #}
						<a href="{{ path('admin_edit_book', {'id' : book.id }) }}"
						   type="button" class="btn btn-primary mx-1">
							<i title="Modifier" class="fas fa-pen text-light"></i>
						</a>

						{# supprimer le livre #}
						<a href="{{ path('admin_delete_book', {'id' : book.id }) }}"
						   type="button" class="delete-link btn btn-danger mx-1"
						   data-toggle="modal" data-target="#delete-modal">
							<i title="Effacer" class="fas fa-trash text-light"></i>
						</a>

					</td>
				</tr>
			{% endfor %}
		</tbody>
</table>


	<!-- Delete Modal -->
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title text-danger">Attention !</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="h3 py-3 text-center">Veuillez confirmer votre choix</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="cancel-delete">Annuler</button>
					<button type="button" class="btn btn-danger" id="confirm-delete">Supprimer</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block javascripts %}

	{#	Add whats' globally needed #}
	{{ parent() }}

	{#	Add specific js  #}
	{{ encore_entry_script_tags('book-crud') }}

{% endblock %}