{% extends "dashboard-admin/base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="titre d-flex justify-content-between align-items-center">
    <p class="p-3 m-0">Gestion des livres</p>
    <input type="text" placeholder="Rechercher un titre">
    <button type="button" class="ajouter p-2 mr-2" title="Ajouter" data-toggle="modal" data-target="#lightboxAdd">
        <i class="p-1 fas fa-plus"></i> Ajouter un livre</button>

</div>
<div class="listBook">
    <div class="nom-colonne w-100 m-0 row pt-2 d-flex justify-content-around align-items-center">
        <p class="text-center m-0 py-3 col-2">En stock</p>
        <p class="text-center m-0 py-3 col-3">Titre</p>
        <p class="text-center m-0 py-3 col-3">Code ISBN</p>
        <p class="text-center m-0 py-3 col-2">Prix</p>
        <p class="text-center m-0 py-3 col-2">Options</p>
    </div>
    <section class="livres">
        {% for book in books %}

        <div class="livre row m-0 d-flex justify-content-between py-2">
            <p class="m-0 col-2">{{ book.stock }}</p>
            <p class="m-0 col-3">{{ book.title }}</p>
            <p class="m-0 col-3">{{ book.isbn }}</p>
            <p class="m-0 col-2">{{ book.price }} €</p>

            {# the action's button #}
            <div class="options col-2 d-flex justify-content-around">

                {# bouton voir les détails #}
                <button type="button" class="details btn btn-primary mx-1" data-toggle="modal" data-target="#lightboxDetails">
                    <i title="Voir les détails" class="fas fa-eye"></i>
                </button>

                {# bouton modifier les détails #}
                <button type="button" class="modifier mx-1" data-toggle="modal" data-target="#lightboxEdit">
                    <i title="Modifier" class="fas fa-pen"></i>
                </button>

                {# supprimer le livre #}
                <button type="button" class="effacer mx-1" data-toggle="modal" data-target="#lightboxDelete">
                    <i title="Effacer" class="fas fa-trash"></i>
                </button>

            </div>
        </div>

        {% endfor %}
    </section>
</div>

{# lors du clic sur "see details" on ouvre la modal #}
{% include "dashboard-admin/book-crud/details-book.html.twig" %}

{# lors du clic sur "edit" on ouvre la modal #}
{% include "dashboard-admin/book-crud/edit-book.html.twig" %}

{# lors du clic sur "ajouter un livre" on ouvre la modal #}
{% include "dashboard-admin/book-crud/add-book.html.twig" %}

{# lors du clic sur "delete" on ouvre la modal #}
{% include "dashboard-admin/book-crud/delete-book.html.twig" %}

{% endblock %}

{# {% block javascripts %}{% endblock %} #}