{% extends "dashboard-admin/base.html.twig" %}

{% block title %}Commandes{% endblock %}

{% block body %}

<div class="carres row d-flex justify-content-around align-items-center">
    <div class="carre col-3 text-center">
        <p>En cours</p>
        <p class="chiffre">{{ new ? new|length : '0' }}</p>
    </div>
    <div class="carre col-3 text-center">
        <p>Expédiées</p>
        <p class="chiffre">{{ fulfilled ? fulfilled|length : '0' }}</p>
    </div>
    <div class="carre col-3 text-center">
        <p>Total</p>
        <p class="chiffre">{{ orders ? orders|length : '0'}}</p>
    </div>
</div>

<div class="titre">
    <h4 class="p-3 m-0 text-center">Gestion des commandes</h4>
</div>

<div class="listOrders table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Date</th>
                <th scope="col">Client</th>
                <th scope="col">Livraison</th>
                <th scope="col">Articles</th>
                <th scope="col">Facture</th>
                <th scope="col">Status</th>
            </tr>
        </thead>

        <tbody>

            {% for order in orders %}

            <tr>
                <th scope="row">{{ order.id }}</td>
                <td>{{ order.createdAt|date("y/m/d") }}</td>
                <td>{{ order.user.firstname }} {{ order.user.lastname }}</td>

                {# shorten address var #}
                {% set a = order.deliveryAddress %}

                <td>
                    {{ a.number }} {{ a.type|default('') }} {{ a.street }} </br>
                    {{ a.additional|default('') }} </br>
                    {{ a.cp }} {{ a.city }}
                </td>

                <td>
                    {% for item in order.items %}
                    {{ item.book.title }} </br>
                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('dashboard_admin_print_bill',
                             {id: order.id}) }}"
                       class="pdf text-align-center">
                        PDF
                    </a>
                </td>

                <td class="{{ order.status == "new" ? "orange" : "green" }}">
                    {{ order.status == "new" ? "en attente" : "envoyée" }}
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>

</div>
{% endblock %}
