{# order modal infos #}

<div class="modal fade" id="modal-order-{{ order.id }}"
                        tabindex="-1" role="dialog" aria-labelledby="cmd-title"
                                                    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">


            <div class="modal-head d-flex">

                <div class="col-8 offset-2 d-flex justify-content-center
                              align-items-center">
                    <h5 class="modal-title" id="cmd-title">
                        Détail de votre commande
                    </h5>
                </div>

                <div class="col-1 offset-1 pt-2">
                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>


            <div class="modal-body d-flex flex-column pl-5 pr-5 pb-5">
                <div class="d-flex">

                    <div class="col-4 subsection-cmd">
                        <h3>Informations</h3>
                        <div class="d-flex justify-content-between">

                            <div class="col-6 label">
                                <p>Numéro</p>
                                <p>Date</p>
                                <p>Total</p>
                            </div>

                            <div class="col6 value">
                                <p>{{ order.id }}</p>
                                <p>{{ order.createdAt| date('d/m/Y') }}</p>
                                <p>{{ order.total }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 subsection-cmd">
                        <h3>Adresse de livraison</h3>
                        <div class="d-flex">
                            <div class="col-2 d-flex align-items-center mb-2">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <p>
                                {{ order.deliveryAddress.firstname|capitalize }}
                                </p>

                                <p>
                                {{ order.deliveryAddress.lastname|capitalize }}
                                </p>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="col-2 d-flex align-items-center">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="col-10">
                                <p>
                                {{ order.deliveryAddress.number }}
                                {{ order.deliveryAddress.type|default('') }}
                                {{ order.deliveryAddress.street|capitalize }}
                                </p>

                                <p>
                                {{ order.deliveryAddress.additional|default('') }}
                                </p>

                                <p>
                                {{ order.deliveryAddress.cp }}
                                {{ order.deliveryAddress.city|capitalize }}
                                </p>

                                <p>
                                {{ order.deliveryAddress.country|upper }}
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 subsection-cmd">
                        <h3>Adresse de facturation</h3>
                        <div class="d-flex">
                            <div class="col-2 d-flex align-items-center mb-2">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <p>
                                {{ order.billAddress.firstname|capitalize }}
                                </p>

                                <p>
                                {{ order.billAddress.lastname|capitalize }}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="col-2 d-flex align-items-center">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="col-10">
                                <p>
                                {{ order.billAddress.number }}
                                {{ order.billAddress.type|default('') }}
                                {{ order.billAddress.street|capitalize }}
                                </p>

                                <p>
                                {{ order.billAddress.additional|default('') }}
                                </p>

                                <p>
                                {{ order.billAddress.cp }}
                                {{ order.billAddress.city|capitalize }}
                                </p>

                                <p>
                                {{ order.billAddress.country|upper }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <table class="table table-sm thead-dark m-0 mt-5">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle">
                                    Articles commandés
                                </th>
                                <th scope="col" class="align-middle">
                                    Prix unitaire
                                </th>
                                <th scope="col" class="align-middle">
                                    Quantité
                                </th>
                                <th scope="col" class="align-middle">
                                    Total
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in order.items %}
                            <tr>
                                <th scope="row">
                                    <span class="th-title">
                                        {{ item.book.title[:30] ~
                                        (item.book.title|length > 30 ? '...') }}
                                    </span>
                                    {{ item.book.author.firstname }}
                                    {{ item.book.author.lastname }}
                                </th>

                                <td>{{ item.book.price }} &euro;</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.total }}</td>
                            </tr>
                            {% endfor %}

                            <tr class="last">
                                <td colspan=3 class="text-right font-weight-bold">
                                    Sous total
                                </td>

                                <td class="font-weight-bold">
                                    {{ order.total }}
                                </td>
                            </tr>

                            <tr class="last">
                                <td colspan=3 class="text-right font-weight-bold">
                                    Livraison
                                </td>

                                <td class="font-weight-bold">
                                    Gratuite
                                </td>
                            </tr>

                            <tr class="last">
                                <td colspan=3 class="text-right font-weight-bold">
                                    Total
                                </td>

                                <td class="font-weight-bold">
                                    {{ order.total }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="modal-footer d-flex justify-content-between pl-5 pr-5
                         pb-5">
                <a href="{{ path("dashboard_user_print_bill", {'id': order.id}) }}"
                    class="btn btn-info">
                    <i class="fas fa-file-pdf mr-3"></i>
                    Télécharger en PDF
                </a>
                <a class="btn btn-danger" data-dismiss="modal">
                    FERMER
                </a>
            </div>
        </div>
    </div>
</div>
