{% extends "vesoul-edition/base.html.twig" %}


{% block content %}



    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3">
            <h2 class="text-center">Mon compte</h2>
            <ul>
                <a class="list" href="{{ path('dashboard_user_informations' )}}">
                    <li>INFORMATIONS</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_addresses' )}}">
                    <li>ADRESSES</li>
                </a>
                <a class="list active" href="{{ path('dashboard_user_commands' )}}">
                    <li>COMMANDES</li>
                </a>
            </ul>
        </nav>
        
        <div id="commandes-compte" class="col-9 d-flex justify-content-center">

            {# <!-- Modal -->
            <div class="modal fade" id="cmd-modal" tabindex="-1" role="dialog" aria-labelledby="cmd-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-head d-flex">
                    <div class="col-8 offset-2 d-flex justify-content-center align-items-center">
                        <h5 class="modal-title" id="cmd-title">Détail de votre commande</h5>
                    </div>
                    <div class="col-1 offset-1 pt-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column pl-5 pr-5 pb-5">
                    <div class="d-flex">
                        <div class="col-4 subsection-cmd">
                            <h3>Informations</h3>
                            <div class="d-flex justify-content-between">
                                <div class="col6 label">
                                    <p>Numéro</p>
                                    <p>Date</p>
                                    <p>Total</p>
                                </div>
                                <div class="col6 value">

                                {% for commande in commandes %}

                                    <p>{{ commande.number }}</p>
                                    <p>{{ commande.date }}</p>
                                    <p>{{ commande.totalcost }}</p>
                                    
                                {% endfor %}
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-4 subsection-cmd">
                            <h3>Adresse de livraison</h3>
                            <div class="d-flex">
                                <div class="col-2 d-flex align-items-center mb-2">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <p>Jean</p>
                                    <p>Dupont</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="col-10">
                                    <p>2 Bis Rue machin</p>
                                    <p>Appartement 4 3e étage</p>
                                    <p>70000 Vesoul</p>
                                    <p>France</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 subsection-cmd">
                            <h3>Adresse de facturation</h3> 
                            <div class="d-flex">
                                <div class="col-2 d-flex align-items-center mb-2">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <p>Jean</p>
                                    <p>Dupton</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="col-10">
                                    <p>2 Bis Rue machin</p>
                                    <p>Appartement 4 3e étage</p>
                                    <p>70000 Vesoul</p>
                                    <p>France</p>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div>
                        <table class="table table-sm thead-dark m-0 mt-5">
                        <thead>
                            <tr>
                                <th scope="col">Articles commandés</th>
                                <th scope="col">Prix unitaire</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><span class="th-title">Un livre</span> - Un auteur</th>
                                <td>22 €</td>
                                <td>01</td>
                                <td>15,99 €</td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="th-title">Un autre livre</span> - Un autre auteur</th>
                                <td>18 €</td>
                                <td>02</td>
                                <td>36,00 €</td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="th-title">Encore un livre</span> - Encore un auteur</th>
                                <td>32 €</td>
                                <td>01</td>
                                <td>21,50 €</td>
                            </tr>
                            <tr class="last">
                                <td></td>
                                <td></td>
                                <td>Sous total</td>
                                <td>73,49 €</td>
                            </tr>
                            <tr class="last">
                                <td></td>
                                <td></td>
                                <td>Livraison</td>
                                <td>Gratuite</td>
                            </tr>
                            <tr class="last">
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>73,49 €</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between pl-5 pr-5 pb-5">
                    <button type="button" class="btn btn-info"><i class="fas fa-file-pdf mr-3"></i>Télécharger en PDF</button>
                    <button type="button" class="btn" data-dismiss="modal">FERMER</button>
                </div>
                </div>
            </div>
            </div> #}

            <div class="wrapper-commandes d-flex align-items-center flex-column ml-3">

                    <div class="title-wrapper">
                        <div class="title-compte">
                            <h2>Mes commandes</h2>
                        </div>
                    </div>

                    <div class="row commandes-header w-100">
                        <div class="col-2">N°</div>
                        <div class="col-2">Date</div>
                        <div class="col-2">Quantité</div>
                        <div class="col-2">Montant TTC</div>
                        <div class="col-2">Statut</div>
                    </div>


                    {% for commande in commandes %}

                    <div class="table-commandes w-100 d-flex justify-content-center">

                        <div class="row commandes-tableau w-100">
                            <div class="col-2">{{ commande.number }}</div>
                            <div class="col-2">{{ commande.date | date('d/m/Y') }}</div>
                            <div class="col-2">{{ commande.quantity }}</div>
                            <div class="col-2">{{ commande.totalcost }} €</div>
                            <div class="col-2 {{ commande.state == "en cours" ? "orange" : "green" }}">{{ commande.state }}</div>
                            <div class="col-2"><button type="button" class="btn" data-toggle="modal" data-target="#cmd-modal-{{ commande.number }}"><i class="fas fa-search"></i></button></div>
                        </div>

                    </div>

                    {% endfor %}

                    {% for commande in commandes %}


                            <!-- Modal -->
                    <div class="modal fade" id="cmd-modal-{{ commande.number }}" tabindex="-1" role="dialog" aria-labelledby="cmd-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-head d-flex">
                            <div class="col-8 offset-2 d-flex justify-content-center align-items-center">
                                <h5 class="modal-title" id="cmd-title">Détail de votre commande</h5>
                            </div>
                            <div class="col-1 offset-1 pt-2">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </div>
                            </button>
                        </div>
                        <div class="modal-body d-flex flex-column pl-5 pr-5 pb-5">
                            <div class="d-flex">
                                <div class="col-4 subsection-cmd">
                                    <h3>Informations</h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="col6 label">
                                            <p>Numéro</p>
                                            <p>Date</p>
                                            <p>Total</p>
                                        </div>
                                        <div class="col6 value">
                                        
                                            <p>{{ commande.number }}</p>
                                            <p>{{ commande.date }}</p>
                                            <p>{{ commande.totalcost }}</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 subsection-cmd">
                                    <h3>Adresse de livraison</h3>
                                    <div class="d-flex">
                                        <div class="col-2 d-flex align-items-center mb-2">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <div class="col-10 mb-2">
                                            <p>Jean</p>
                                            <p>Dupont</p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-2 d-flex align-items-center">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="col-10">
                                            <p>2 Bis Rue machin</p>
                                            <p>Appartement 4 3e étage</p>
                                            <p>70000 Vesoul</p>
                                            <p>France</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 subsection-cmd">
                                    <h3>Adresse de facturation</h3> 
                                    <div class="d-flex">
                                        <div class="col-2 d-flex align-items-center mb-2">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <div class="col-10 mb-2">
                                            <p>Jean</p>
                                            <p>Dupton</p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-2 d-flex align-items-center">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="col-10">
                                            <p>2 Bis Rue machin</p>
                                            <p>Appartement 4 3e étage</p>
                                            <p>70000 Vesoul</p>
                                            <p>France</p>
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <div>
                                <table class="table table-sm thead-dark m-0 mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col">Articles commandés</th>
                                        <th scope="col">Prix unitaire</th>
                                        <th scope="col">Quantité</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><span class="th-title">Un livre</span> - Un auteur</th>
                                        <td>22 €</td>
                                        <td>01</td>
                                        <td>15,99 €</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><span class="th-title">Un autre livre</span> - Un autre auteur</th>
                                        <td>18 €</td>
                                        <td>02</td>
                                        <td>36,00 €</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><span class="th-title">Encore un livre</span> - Encore un auteur</th>
                                        <td>32 €</td>
                                        <td>01</td>
                                        <td>21,50 €</td>
                                    </tr>
                                    <tr class="last">
                                        <td></td>
                                        <td></td>
                                        <td>Sous total</td>
                                        <td>73,49 €</td>
                                    </tr>
                                    <tr class="last">
                                        <td></td>
                                        <td></td>
                                        <td>Livraison</td>
                                        <td>Gratuite</td>
                                    </tr>
                                    <tr class="last">
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td>73,49 €</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between pl-5 pr-5 pb-5">
                            <button type="button" class="btn btn-info"><i class="fas fa-file-pdf mr-3"></i>Télécharger en PDF</button>
                            <button type="button" class="btn" data-dismiss="modal">FERMER</button>
                        </div>
                        </div>
                    </div>
                    </div>


                {% endfor %}


            </div>


        </div>

    </div>


{% endblock %}