{% extends "vesoul-edition/base.html.twig" %}


{% block content %}

    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3 align-items-start">
            <h2 class="text-center">Mon compte</h2>
            <ul>
                <a class="list active" href="{{ path('dashboard_user_informations' )}}">
                    <li>INFORMATIONS</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_addresses')}}">
                    <li>ADRESSES</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_commands')}}">
                    <li>COMMANDES</li>
                </a>
            </ul>
        </nav>

        <div id="infos-compte" class="col-9 d-flex justify-content-center">

            <div class="wrapper-infos d-flex flex-column ml-3 justify-content-center">

                <div class="title-wrapper">
                    <div class="title-compte">
                        <h2>Mes informations</h2>
                    </div>
                </div>

                <div class="infos-content">

                {{ form_start(form) }}

                    <div class="d-flex flex-column">

                        <div class="d-flex justify-content-between">

                            {{ form_widget(form.username, {'label' : false ,'attr' : {'class': 'col-5 form-control mb-4', 'placeholder' : 'Adresse mail', 'id' : 'inputUser'}}) }}

                            {{ form_widget(form.tel, {'label' : false ,'attr' : {'class': 'col-5 form-control mb-4', 'placeholder' : 'Téléphone', 'id' : 'inputPassword'}}) }}

                        </div>

                            {{ form_row(form.password, {'label' : false ,'attr' : {'class': 'form-control mb-3', 'placeholder' : 'Nouveau mot de passe', 'id' : 'inputPassword', 'value' : '', }}) }}

                            {{ form_row(form.confirm_password, {'label' : false ,'attr' : {'class': 'form-control mb-3', 'placeholder' : 'Confirmation nouveau mot de passe', 'id' : 'inputNew'}}) }}
                            
                            {# {{ form_row(form.confirm_new_password, {'label' : false ,'attr' : {'class': 'form-control mb-3', 'placeholder' : 'Confirmation du nouveau mot de passe', 'id' : 'inputNewConfirm'}}) }} #}
                            
                    </div>

                    <div class="d-flex justify-content-center align-items-end">

                        <button class="btn-inscription btn btn-lg mt-2 mt-3" type="submit">Enregistrer les modifications</button>
                            
                    </div>

                {{ form_end(form) }}

                    {# <form action="{{ path('dashboard_user_informations_validation')}}" method="POST">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <input class="col-5" name="mail_info" type="email" placeholder="Adresse mail">
                                <input class="col-5" name="tel_info" type="text" placeholder="Téléphone">
                            </div>
        
                            <input class="changing-pass" name="ancien_mdp_info" type="password" placeholder="Mot de passe">
                            <input class="changing-pass" name="nouveau_mdp_info" type="password" placeholder="Nouveau mot de passe">
                            <input class="changing-pass" name="confirm_nouveau_mdp_info" type="password" placeholder="Confirmer le nouveau mot de passe">
                        </div>
                        <div class="d-flex justify-content-center align-items-end">
                            <button class="btn">Enregistrer les modifications</button>
                        </div>
                    </form> #}

                </div>

            </div>


        </div>

    </div>


{% endblock %}