{% extends "vesoul-edition/base.html.twig" %}


{% block content %}

    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3 align-items-start">
            <h2 class="text-center">Mon compte</h2>
            <ul>
                <li>
                    <a class="list active" href="{{ path('dashboard_user_informations' )}}">INFORMATIONS</a>
                </li>
                <li>
                    <a class="list" href="{{ path('dashboard_user_addresses')}}">ADRESSES</a>
                </li>
                <li>
                    <a class="list" href="{{ path('dashboard_user_commands')}}">COMMANDES</a>
                </li>
            </ul>
        </nav>

        <div id="infos-compte" class="col-9 d-flex justify-content-center">
            <div class="wrapper-infos d-flex flex-column ml-3 justify-content-center">

                <div class="title-wrapper">
                    <div class="title-compte">
                        <h2>Mes informations</h2>
                    </div>
                </div>

                <div class="infos-content d-flex flex-column justify-content-center align-items-center">

                    {% if form is defined %}

                        {{ form_start(form, {'attr': {'class': 'col-10'}}) }}

                            <div class="form-group my-3">
                                {{ form_label(form.username) }}
                                {{ form_widget(form.username, { value : user.username|default(null) }) }}
                            </div>

                            <div class="form-group my-3">
                                {{ form_label(form.gender) }}
                                {{ form_widget(form.gender, { value : app.user.gender|default(0) }) }}
                            </div>

                            <div class="form-group my-3">
                                {{ form_label(form.firstname) }}
                                {{ form_widget(form.firstname, { value : user.firstname|default(null) }) }}
                            </div>

                            <div class="form-group my-3">
                                {{ form_label(form.lastname) }}
                                {{ form_widget(form.lastname, { value : user.lastname|default(null) }) }}
                            </div>

                            <div class="form-group my-3">
                                {{ form_label(form.tel) }}
                                {{ form_widget(form.tel, { value : user.tel|default(null) }) }}
                            </div>


                            <div class="d-flex justify-content-center align-items-center">
                                <button class="btn-inscription btn btn-lg my-3" type="submit">Enregistrer les modifications</button>
                            </div>

                    {{ form_end(form) }}

                {% endif %}



                {% if form_password is defined  %}

                    {{ form_start(form_password, {'attr': {'class': 'col-10'}}) }}

                        <div class="form-group my-3">
                            {{ form_row(form_password.currentPassword) }}
                        </div>

                        <div class="form-group my-3">
                            {{ form_row(form_password.newPassword) }}
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn-inscription btn btn-lg my-3" type="submit">Changer le mot de passe</button>
                        </div>

                    {{ form_end(form_password) }}

                {% endif %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}