<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Facture {{ commandNumero }}-IT</title>

    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }

        table {
            font-size: x-small;
        }

        tfoot tr td {
            font-weight: bold;
            font-size: x-small;
        }
        .gray{
            background-color: rgb(228, 228, 228);
        }

        .lightgray {
            background-color: lightgray;
        }
    </style>

</head>

<body>

    <table width="100%">
        <tr>
            <td valign="top"><h1><strong>Facture {{ commandNumero }}-IT</strong></h1></td>
            <td align="right">
                <h3>{{ boutiqueNom }}</h3>
                <pre>
                {{ boutiqueLibelleAdresse }}
                {{ boutiqueCp ~ boutiqueVille }}
                {{ boutiquePays }}
            </pre>
                <pre>
                {{ boutiqueTelephone }}
                {{ boutiqueEmail }}
            </pre>
            </td>
        </tr>

    </table>

    <br />

    <table width="100%">
        <tr>
            <td><strong>Adresse de facturation :</strong></td>
            <td><strong>Adresse de livraison :</strong></td>
        </tr>
        <tr>
            <td>
                <pre>
                    {{ afPrenom }} {{ afNom }}
                    {{ afNumero }} {{ afType }} {{ afRue }}{% if afComplement %}, {{ afComplement }}{% endif %},
                    {{ afVille }} {{ afCp }}, {{ afPays }}
                </pre>
            </td>
            <td>
                <pre>
                    {{ alPrenom }} {{ alNom }}
                    {{ alNumero }} {{ alType }} {{ alRue }}{% if alComplement %}, {{ alComplement }}{% endif %},
                    {{ alVille }} {{ alCp }}, {{ alPays }}
                </pre>
            </td>
        </tr>

    </table>

    <br />
    <br />
    <br />

    <table width="100%">
        <thead class="lightgray">
            <tr>
                <th>ISBN</th>
                <th>Titre</th>
                <th>Quantité</th>
                <th>Prix unitaire €</th>
                <th>Total €</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
            <tr>
                <th scope="row">{{ livre[0] }}</th>
                <td class="gray">{{ livre[1] }}</td>
                <td align="right">1</td>
                <td class="gray" align="right"> {{ livre[2] }} </td>
                <td align="right">{{ livre[2] * 1 }}</td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td align="right">Total €</td>
                <td align="right" class="lightgray">{{ prixTotal }}</td>
            </tr>
        </tfoot>
    </table>

</body>

</html>












{#

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .infoBoutique>p {
            padding: 0;
            margin: 0;
        }

        .infoBoutique>div {
            display: flex;
        }
    </style>
</head>

<body>
    <h1>Facture</h1>
    <div class="infoBoutique">
        <p><strong>{{ boutiqueNom }}</strong></p>
        <p>{{ boutiqueLibelleAdresse }}</p>
        <div>
            <p>{{ boutiqueCp }}</p>
            <p>{{ boutiqueVille }}</p>
        </div>
        <p>{{ boutiquePays }}</p>
        <p>{{ boutiqueTelephone }}</p>
    </div>

    <p>Numéro de commande : {{ commandNumero }}-IT</p>
    <p>Date de commande : {{ commandDate|date("d/m/y") }}</p>
    <h2>Facturation</h2>
    <p>{{ afPrenom }} {{ afNom }}</p>
    <p>{{ afNumero }} {{ afType }} {{ afRue }} {{ afComplement }}, </p>
    <p>{{ afVille }} {{ afCp }}, {{ afPays }}</p>
    <h2>Livraison</h2>
    <p>{{ alPrenom }} {{ alNom }}</p>
    <p>{{ alNumero }} {{ alType }} {{ alRue }} {{ alComplement }}, </p>
    <p>{{ alVille }} {{ alCp }}, {{ alPays }}</p>

    {% for titre in livreTitre %}
    <p>{{ titre }}</p>
    {% endfor %}
    {% for prix in livrePrix %}
    <p>{{ prix }}</p>
    {% endfor %}



</body>

</html> #}

{#
Adresse Boutique
Telephone Boutique
Nom propriétaire
Prenom propriétaire

Titre du livre
Quantité de chaque livre
Prix de chaque livre
Code ISBN

Nom client
Prenom client
Genre (Monsieur/Madame)

Adresse facturation
Adresse Livraison

#}