{# ajouter un livre #}
{# lightbox desactivé  #}

{% extends "dashboard-admin/base.html.twig" %}

	{% block title %}{{ title }}{% endblock %}

	{% block body %}

<div class="container-fluid">

    <div class="container ">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success my-3">
				{{ message }}
			</div>
		{% endfor %}

        <h3 class="text-center font-weight-bold my-3">Ajouter un livre</h3>


		<div class="justify-content-center align-items-center m-auto">

			{{ form_start(form, {'attr': {'class': 'container-fluid p-5'}}) }}

			<div class="form-row">

				<!-- Premiere colonne -->
				<div class="col-6">

					<!-- Ligne Titre -->
					<div class="form-group">

						{{ form_label(form.title) }}
						{{ form_widget(form.title) }}
					</div>

					<!-- Author / Cat -->
					<!-- Author -->
					<div class="form-row">
						<div class="form-group col-6">
							{{ form_label(form.author) }}
							{{ form_widget(form.author) }}
						</div>
						<div class="form-group col-6">
							{{ form_label(form.genras) }}
                            {{ form_widget(form.genras) }}
						</div>
					</div>


					<!-- ligne Quantité / Prix -->

					<!-- Quantité -->
					<div class="form-row">
						<div class="form-group col-6">
							{{ form_label(form.stock) }}
							{{ form_widget(form.stock) }}
						</div>

						<!-- Prix -->
						<div class="form-group col-6">
							{{ form_label(form.price) }}
							{{ form_widget(form.price) }}
						</div>
					</div>

					<!-- ISBN -->
					<div class="form-group">

					</div>


					<!-- Nombre de Pages -->
					<div class="form-group">

					</div>

					<!-- Ligne Année / Nouveauté -->
					<div class="form-row">

						<!-- Année -->
						<div class="form-group col-6">
						</div>

						<div class="form-group col-6">
						</div>
					</div>

					<!-- Ligne Hauteur / Largeur -->
					<div class="form-row">

						<!-- Hauteur -->
						<div class="form-group col-6">
						</div>

						<!-- Largeur -->
						<div class="form-group col-6">
						</div>
					</div>

				<!-- Fin Premiere colonne -->
				</div>

						{{ form_label(form.description) }}
						{{ form_widget(form.description) }}

						{{ form_label(form.length) }}
						{{ form_widget(form.length) }}



						{{ form_label(form.isbn) }}
						{{ form_widget(form.isbn) }}

						{{ form_label(form.new) }}
						{{ form_widget(form.new) }}

						{{ form_label(form.year) }}
						{{ form_widget(form.year) }}


						{{ form_label(form.width) }}
						{{ form_widget(form.width) }}

						{{ form_label(form.height) }}
						{{ form_widget(form.height) }}




						{{ form_row(form.images) }}


        	<div class="text-center pb-3">
				{{ form_widget(form.submit) }}
				<a type="button" class="btn btn-secondary text-light">Annuler</a>
			</div>

			{{ form_widget(form._token) }}

		{{ form_end(form) }}
		</div>

    </div>

</div>

{# MODAL
					<div class="modal fade" id="lightboxAdd" tabindex="-1" role="dialog" aria-labelledby="lightboxAdd" aria-hidden="true">
			         <div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un livre</h5>
			
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body row">
								<label class="py-1 m-0 col-4" for="title">
									<strong>Titre :
									</strong>
								</label>
								<input class="my-1 col-7" name="title" type="text">
								<label class="py-1 m-0 col-4" for="isbn">
									<strong>Code ISBN :
									</strong>
								</label>
								<input class="my-1 col-7" name="isbn" type="text">
								<label class="py-1 m-0 col-4" for="auteur">
									<strong>Auteur :
									</strong>
								</label>
								<input class="my-1 col-7" name="auteur" type="text">
								<label class="py-1 m-0 col-4" for="prix">
									<strong>Prix :
									</strong>
								</label>
								<input class="my-1 col-7" name="prix" type="text">€
								<label class="py-1 m-0 col-4" for="cat">
									<strong>Catégories :
									</strong>
								</label>
								<input class="my-1 col-7" name="cat" type="text">
								<label class="py-1 m-0 col-4" for="desc">
									<strong>Description :
									</strong>
								</label>
								<input class="my-1 col-7" name="desc" type="text">
								<p class="pl-3">
									<strong>Image(s) :
									</strong>
								</p>
								<div class="images d-flex flex-wrap">
									<fieldset>
										<label class="addImg mt-1 ml-1 d-flex justify-content-center align-items-center" for="img">
											<i class="p-1 fas fa-plus"></i>
										</label>
										<input class="" name="img" id="img" type="file">
									</fieldset>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Enregistrer</button>
							</div>
						</div>
					</div>
				</div> #}{% endblock %}
