
{% extends 'dashboard-admin/base.html.twig' %}


	{% block body %}

        <div class="container-fluid">
            <div class="container">

                {{ include('dashboard-admin/_flash_messages.html.twig') }}

                <h3 class="text-center font-weight-bold my-3">Modifier le livre</h3>

                <div class="justify-content-center align-items-center m-auto">

                    {{ form_start(form, {'attr': {'class': 'container-fluid p-5'}}) }}


                    {# First Line #}
                    <div class="form-row">

                        {# First Col #}
                        <div class="col-6">


                            {# Row Title #}
                            <div class="form-group">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div>


                            {# Author #}
                            <div class="form-row align-items-end mb-3">
                                <div class="form-group col-8 mb-0">
                                    {{ form_label(form.author) }}
                                    {{ form_widget(form.author) }}
                                </div>

                                {# Add new author #}
                                <div class="col-4">
                                    <a href="{{ path('admin_add_auteur') }}" type="button" class="btn btn-outline-dark w-100"
                                       data-addauthor data-token="{{ csrf_token('addauthor') }}">
                                        Autre...
                                        <i class="fa fa-plus text-light"></i>
                                    </a>
                                </div>
                            </div>


                            {# Cat #}
                            <div class="form-row align-items-end mb-3">
                                <div class="form-group col-8 mb-0">
                                    {{ form_label(form.genres) }}
                                    {{ form_widget(form.genres) }}
                                </div>

                                {# Add new catgeory #}
                                <div class="col-4">

                                    <a href="#" type="button" class="btn btn-outline-dark w-100">
                                        Autre...
                                        <i class="fa fa-plus text-light"></i>
                                    </a>
                                </div>
                            </div>


                            {# Quantity / Price #}

                            {# Quantity #}
                            <div class="form-row">
                                <div class="form-group col-6">
                                    {{ form_label(form.stock) }}
                                    {{ form_widget(form.stock) }}
                                </div>

                                {# Price #}
                                <div class="form-group col-6">
                                    {{ form_label(form.price) }}
                                    {{ form_widget(form.price) }}
                                </div>
                            </div>


                            {# ISBN #}
                            <div class="form-group">
                                {{ form_label(form.isbn) }}
                                {{ form_widget(form.isbn) }}
                            </div>


                            {# Length #}
                            <div class="form-group">
                                {{ form_label(form.length) }}
                                {{ form_widget(form.length) }}
                            </div>


                            {# Year / New #}
                            <div class="form-row">

                                {# Year #}
                                <div class="form-group col-6">
                                    {{ form_label(form.year) }}
                                    {{ form_widget(form.year) }}
                                </div>

                                {# New #}
                                <div class="form-group col-6 d-flex justify-content-center align-items-end">
                                    {# hidden checkbox #}
                                    {{ form_widget(form.new) }}

                                    {# checkbox button #}
                                    {{ form_widget(form.newbtn) }}
                                </div>
                            </div>


                            {# Height / Width #}
                            <div class="form-row">

                                {# Height #}
                                <div class="form-group col-6">
                                    {{ form_label(form.height) }}
                                    {{ form_widget(form.height) }}
                                </div>

                                {# Width #}
                                <div class="form-group col-6">
                                    {{ form_label(form.width) }}
                                    {{ form_widget(form.width) }}
                                </div>
                            </div>


                            {# End First Col #}
                        </div>


                        {# Second Col #}
                        <div class="col-6 d-flex f-col flex-wrap">

                            {# Description #}
                            <div class="form-group w-100 ">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                            </div>

                            {# Images display #}
                            <div id="img-display-container" class="w-100 d-flex justify-content-around">

                                {# Only display "real" images, not fixtures (only having image.url) #}
                                {% for image in images %}
                                    {% if image.name %}
                                        <div class="card card-img col-4 align-items-end justify-content-end border-1"
                                             style="background-image: url({{ asset('/static/book/uploads/' ~ image.name) }});">
                                            <a class="btn btn-outline-danger mb-3" role="button" aria-pressed="true"
                                               href="{{ path('book_delete_image', {id: image.id}) }}"
                                               data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>

                            {# Images Upload #}
                            <div class="custom-file">
                                {{ form_label(form.images) }}
                                {{ form_widget(form.images) }}
                            </div>
                        </div>

                    </div>

                    {# Second Line #}
                    <div class="form-row">

                        {# Submit #}
                        <div class="text-center p-3 col-12">
                            {{ form_widget(form.submit) }}

                            {# Cancel ~> get back to admin/livres #}
                            <a href="{{ path('dashboard_admin_livres') }}" id="book_cancel" type="button" class="btn btn-secondary text-light m-2">Annuler</a>
                        </div>

                        {# Token CSRF #}
                        {{ form_widget(form._token) }}
                    </div>

                    {# Form end #}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>




        <!-- New Author Modal -->
        <div class="modal fade" id="new-author-modal" tabindex="-1" role="dialog" aria-labelledby="new-author-modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Nouvel auteur</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="h3 py-3 text-center">Veuillez rentrer les informations relatives au nouvel auteur</p>

                        <form>
                            <div class="form-group">
                                <label for="firstname" class="col-form-label">Firstname:</label>
                                <input type="text" class="form-control" id="firstname">
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-form-label">Lastname:</label>
                                <input type="text" class="form-control" id="lastname">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="cancel-new-author">Annuler</button>
                        <button type="button" class="btn btn-outline-success" id="confirm-new-author">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}




{% block javascripts %}

    {#	Add whats' globally needed #}
    {{ parent() }}

    {#	Add specific js  #}
    {{ encore_entry_script_tags('book-crud') }}

{% endblock %}