{# ------ Loop through each book ------ #}
{% if cart.items.count > 0 %}

    {% for item in cart.items %}

        <div class="row article m-0 my-2 p-0">

            <div class="col-12  m-0 p-0 d-flex justify-content-between align-items-center">

                <div class="d-flex livre">
                    <div class="d-flex align-items-center">

                        {% if item.book.images[0].name %}
                            <img src="{{ asset('static/book/uploads/') ~ item.book.images[0].name }}"
                                 alt="cover" width="150px" height="150px"
                                 class="cover">
                        {% else %}
                            <img src="{{ asset('build/images/cover.png') }}"
                                 alt="cover" width="150px" height="150px">
                        {% endif %}

                        <div class="p-2 d-flex flex-column">
                            <h4 class="m-0">{{ item.book.title }}</h4>
                            <h5 class="m-0">{{ item.book.author.firstname }} {{ item.book.author.lastname }}</h5>
                        </div>
                    </div>
                </div>

                {# item price #}
                <p class="m-0">
                    <span>{{ item.book.price|number_format(2, ',') }}</span> &euro;
                </p>


                {# Change item quantity #}
                <div class="d-flex align-items-center">
                    <p class="m-0 p-3" class="quantite">{{ item.quantity }}</p>

                    {# Add Item #}
                    <a href="{{ path('addItem', {'id': item.book.id}) }}"
                        data-action="ajoute"
                        data-id="{{ item.book.id }}"
                        data-price="{{ item.book.price|number_format(2, ',') }}"
                        class="btn-quantity m-1 btn btn-info d-flex justify-content-center
                               align-items-center">
                        <i class="fa fa-plus"></i>
                    </a>

                    {# Reduce Item #}
                    <a href="{{ path('reduceItem', {'id': item.book.id}) }}"
                        data-action="reduit"
                        data-id="{{ item.book.id }}"
                        data-price="{{ item.book.price|number_format(2, ',') }}"
                        class="btn-quantity m-1 btn btn-light d-flex justify-content-center
                               align-items-center">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>


                {# Item total #}
                <p class="m-0 pr-3 total">
                    <span>{{ (item.total|number_format(2, ',')) }}</span> &euro;
                </p>


                {# Delete Item #}
                <a href="{{ path('deleteItem', {'id': item.book.id}) }}"
                   data-id="{{ item.book.id  }}"
                   class="btn btn-danger delete-article d-flex justify-content-center
                          align-item-center">
                    <i class="fas fa-trash"></i>
                </a>

            </div>

        </div>

    {% endfor %}

{% endif %}
