{% extends 'vesoul-edition/base.html.twig' %}

{% block title %}Vesoul Edition - Panier{% endblock %}

{% block content %}
<div id="panier" class="p-0 m-0">
    <div class="row">
        <div class="col-12 py-4">
            <h1>Votre panier</h1>
        </div>
    </div>

    <div class="row pr-3">
        <div class="col-9 px-3">

            {# ------ Cart Header ------ #}
            <div class="row legend m-0 mb-2 p-0">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <h3 class="m-0 pr-3 livre">Livre</h3>
                    <h3 class="m-0 p-2 prix">Prix</h3>
                    <h3 class="m-0 p-2 qty">Quantité</h3>
                    <h3 class="m-0 p-2 total">Total</h3>
                </div>
            </div>


            {# ------ Item infos ------ #}
            {% include 'vesoul-edition/_cart_items.html.twig' %}

        </div>


        {# ------ Total ------ #}

        <div class="col-3 p-3" id="total">

            <div class="row mb-5">
                <div class="col-12 titre">Total du panier</div>
            </div>

            <div class="row py-3 d-flex justify-content-between">
                <div class="col-6">Sous-total</div>
                <div class="col-6 text-right infos ">
                    <span id="subtotal">{{ cart.total|number_format(2, ',') }} €</span>
                </div>
            </div>

            <div class="row py-3 d-flex justify-content-between">
                <div class="col-6">Livraison</div>
                <div class="col-6 text-right infos">Gratuite</div>
            </div>

            <div class="row py-4 d-flex justify-content-between">
                <div class="col-6 total">Total</div>
                <div class="col-6 text-right total">
                    <span id="totalpanier" >{{ cart.total|number_format(2, ',') }} €</span>
                </div>
            </div>

            <div class="row">

                <div class="col-12">
                    <a href="{{ path('order') }}">
                        <button class="btn btn-info w-100 m-2">Commander</button>
                    </a>
                </div>

                <div class="col-12">
                    <a href="{{ path('cartEmpty') }}">
                        <button class="btn btn-danger w-100 m-2">Supprimer mon panier</button>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row py-4">
    <div class="col-4 offset-4">
        <a href="{{ path('home') }}">
            <button class="btn btn-info w-100">Continuer mes achats</button>
        </a>
    </div>
</div>
{% endblock %}
