{% extends 'vesoul-edition/base.html.twig' %}

{% block title %}VesoulEdition - Panier{% endblock %}

{% block content %}
<div id="panier" class="p-0 m-0">
    <div class="row">
        <div class="col-12 py-4">
            <h1>Votre panier</h1>
        </div>
    </div>
    <div class="row pr-3">
        <!-- ===================== Partie Articles ======================== -->
        <div class="col-9 px-3">
            <!-- ----- Légende ----- -->
            <div class="row legend m-0 mb-2 p-0">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <h3 class="m-0 pr-3 livre">
                        Livre
                    </h3>
                    <h3 class="m-0 p-2 prix">
                        Prix
                    </h3>
                    <h3 class="m-0 p-2 qty">
                        Quantité
                    </h3>
                    <h3 class="m-0 p-2 total">
                        Total
                    </h3>
                </div>
            </div>
            <!-- ----- Articles ----- -->
            {% set filter = app.session.get('panier') %}
            {% for article in filter %}
            <div class="row article m-0 my-2 p-0">
                <div class="col-12  m-0 p-0 d-flex justify-content-between align-items-center">
                    <div class="d-flex livre">
                        <div class="d-flex align-items-center">
                            <img src="{{ article.image }}" alt="photo principale du livre" width="150px" height="150px">
                            <div class="p-2 d-flex flex-column">
                                <h4 class="m-0">{{ article.title }}</h4>
                                <h5 class="m-0">{{ article.firstname }} {{ article.lastname }} </h5>
                            </div>
                        </div>
                    </div>
                    <p class="m-0"><span>{{ article.price|number_format(2, ',') }}</span> €</p>
                    <div class="d-flex align-items-center">
                        <p class="m-0 p-3" class="quantite">{{ article.quantity }}</p>
                        <a href="{{ path('addItem',{ 'id':article.id }) }}" data-action="add" data-id="{{ article.id  }}" data-price="{{ article.price|number_format(2, ',')  }}" class="btn-quantity btn btn-info d-flex justify-content-center align-items-center">+</a>
                        <a href="{{ path('reduceItem',{ 'id':article.id }) }}" data-action="reduce" data-id="{{ article.id  }}" data-price="{{ article.price|number_format(2, ',')  }}" class="btn-quantity btn btn-light d-flex justify-content-center align-items-center">-</a>
                    </div>
                    <p class="m-0 pr-3 total"><span>{{ (article.price * article.quantity) |number_format(2, ',') }}</span> €</p>
                    <a href="{{ path('deleteItem',{ 'id':article.id }) }}" data-id="{{ article.id  }}" class="btn btn-danger delete-article d-flex justify-content-center align-item-center">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>  
            </div>
            {% endfor %}
            <!-- ----- Articles 3 ----- -->
            
        </div>
        <!-- ======================= Partie Total ===================== -->
        <div class="col-3 p-3" id="total">
            <div class="row mb-5">
                <div class="col-12 titre">Total du panier</div>
            </div>
            <div class="row py-3 d-flex justify-content-between">
                <div class="col-6">Sous-total</div>
                <div class="col-6 text-right infos "><span id="subtotal">{{ total|number_format(2, ',') }} €</span></div>
            </div>
            <div class="row py-3 d-flex justify-content-between">
                <div class="col-6">Livraison</div>
                <div class="col-6 text-right infos">Gratuite</div>
            </div>
            
            <div class="row py-4 d-flex justify-content-between">
                <div class="col-6 total">Total</div>
                <div class="col-6 text-right total"><span id="totalpanier" >{{ total|number_format(2, ',') }} €</span></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{{ path('commande') }}"><button class="btn btn-info w-100">Commander</button></a>
                </div>
            </div>
            </div-col-3>
        </div>
    </div>
    <div class="row py-4">        
        <div class="col-4 offset-4">
            <a href="{{ path('home') }}"><button class="btn btn-info w-100">Continuer mes achats</button></a>
        </div>
    </div>
</div>
{% endblock %}