{% extends "vesoul-edition/base.html.twig" %}

{% block title %}Vesoul Edition - Details{% endblock %}

{% block content %}
<div id="product-page" class="m-0 p-0">

    <div class="row m-0 p-5">

        {# ==> Section gauche avec les images ======================================== #}
        <div id="preview-section" class="col-6 m-0 d-flex align-items-end flex-column">

            {# ---------- Image principale ---------- #}

            {# if book has images display them #}
            {% if book.images[0].name %}
                <img class="img rounded" id="preview-cover" src="{{asset('static/book/uploads/' ~ images[0].name)}}">

                {# ---------- Carousel ----------- #}
                <div id="preview-small-section" class="d-flex align-items-center justify-content-between pt-2">
                    {# temporary remove carousel #}
                    {# <button>
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </button> #}

                    {% for image in images %}
                        <div>
                            <img  class="img rounded preview-img" src="{{asset('static/book/uploads/' ~ image.name)}}">
                        </div>
                    {% endfor %}

                    {# temporary remove carousel #}
                    {# <button>
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </button> #}
                </div>


            {# if there is no images, we show fallback ones #}
            {% else %}
                <img id="preview-cover" src="{{asset('build/images/cover.png')}}" alt="image d illustration">

                <div id="preview-small-section" class="d-flex align-items-center justify-content-between pt-2">
                    <img class="preview-img" src="{{asset('build/images/cover.png')}}"  alt="image d illustration">
                    <img class="preview-img" src="{{asset('build/images/cover.png')}}"  alt="image d illustration">
                    <img class="preview-img" src="{{asset('build/images/cover.png')}}"  alt="image d illustration">
                </div>

            {% endif %}

        </div>

        {# ==> Section de droite informations ======================================== #}
        <div id="detail-section" class="col-6 m-0 p-5">

            <h2 class="mb-4">{{ book.title }}</h2>

            <h3 class="m-0 pt-3 pb-4">{{ book.author.firstname }} {{ book.author.lastname}}</h3>

            <div class="d-flex align-items-center pb-4">
                <div id="stock-circle" class="mr-3"></div>
                <p class="stock m-0">en stock</p>
            </div>

            <p id="description">{{ book.description }}</p>
            <div class="py-2 d-flex align-items-center">
                <p class="legend m-0 pr-2">Dimensions : </p>
                <p class="m-0">{{ book.length }} x {{ book.width }} cm</p>
            </div>

            <div class="py-2 d-flex align-items-center">
                <p class="legend m-0 pr-2">Année : </p>
                <p class="m-0">{{ book.year }}</p>
            </div>

            <div class="pt-2 d-flex align-items-center">
                <p class="legend m-0 pr-2">Code ISBN : </p>
                <p class="m-0">{{ book.isbn }}</p>
            </div>

            <div class="d-flex justify-content-between">

                <div class="d-flex align-items-center">
                    <p class="legend m-0 pr-2">Prix publique :</p>
                    <p class="m-0" id="price">{{ book.price }} €</p>
                </div>


                {# only enable add/remove book if a user is connected #}
                {% if app.user %}

                    <div class="m-0 py-5 d-flex align-items-center">
                        <p class="legend m-0 pr-4">Quantité :</p>
                        <p class="m-0 p-3" id="quantite">1</p>

                        {# Add Item #}
                        <a class="btn-quantity btn btn-info d-flex
                            justify-content-center align-items-center
                            product-details-add m-1"
                            href="{{ path('ajaxAddItem',{ 'id':book.id }) }}"
                            data-action="add" data-id="{{ book.id }}"
                            data-price="{{ book.price|number_format(2, ',')  }}">
                            <i class="fa fa-plus"></i>
                        </a>

                        {# Reduce Item #}
                        <a class="btn-quantity btn btn-light d-flex
                            justify-content-center align-items-center m-1"
                            href="{{ path('ajaxReduceItem',{ 'id':book.id }) }}"
                            data-action="reduce" data-id="{{ book.id  }}"
                            data-price="{{ book.price|number_format(2, ',')  }}">
                            <i class="fa fa-minus"></i>
                        </a>
                    </div>
                {% endif %}

            </div>

            <div class="d-flex justify-content-center">

                {# Add Product to cart #}
                <form action="/cart/add/{{book.id}}">
                    <input type="hidden" value="1" name="quantity">
                    <button class="submit btn btn-info d-flex justify-content-center
                            align-items-center mt-4">
                        <i class="fas fa-shopping-cart fa-2x pr-2"></i>
                        Ajouter au panier
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}